.footer {
  gap: 8px;
  bottom: 0;
  width: 100%;
  font-size: 0.75rem;
  position: absolute;
  display: flex;  
  flex-wrap: wrap;
  align-content: center;

  // flex-direction: column;
  color: #aaa;
  background-color: #000;
  padding: 12px 5vw;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__text {
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.footer__link {
  align-self: center;
  color: #ccc;
}

.footer__link-suffix {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
