@use "variaveis";
@use "footer";
@use "header";

// CONFIGURAÇÕES GERAIS
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: variaveis.$corDeFundo;
}

a {
  background-color: transparent;
}

#app,
body,
html {
  width: 100%;
}

.app-layout {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.application-controller__layout {
  position: absolute;
  background: #1f1f1f;
  left: 0;
  right: 0;
  top: 0;
  min-height: 100%;
}

.header__placeholder {
  height: 60px;
}
// ESTILIZAÇÃO DE TEXTO
@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  color: variaveis.$corDeTextoPrimario;
}
@mixin title($fontSize: 38px) {
  @include text($fontSize);
  color: variaveis.$corDeTextoPrimario;
  font-weight: 700;
}

.title--big {
  @include title();
}

.title--medium {
  @include title(24px);
}

.text--medium {
  @include text();
  &-silver {
    color: variaveis.$corDeTextoSecundario;
  }
}

.text--small {
  @include text(14px);
  &-silver {
    @include text(14px);
    color: variaveis.$corDeTextoSecundario;
  }
}

@media screen and (min-width: 1024px) {
  .application-controller__view {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .title-view {
    padding-bottom: 0;
  }
}

.title-view {
  margin-top: -60px;
  // padding-bottom: 5vh;
}

@media screen and (min-width: 1024px) {
  .media-cover__banner-container {
    height: 620px;
  }
}

@media screen and (min-width: 768px) {
  .media-cover__banner-container {
    height: 568px;
  }
}

@media screen and (min-width: 1024px) {
  .media-cover__banner-background {
    position: fixed;
    background-position: 50%;
    background-size: cover;
  }
}

.media-cover__banner-background {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  overflow: hidden;
}
.media-cover__banner-container {
  position: relative;
  width: 100%;
  // height: var(--mediaCoverHeight360);
  // overflow: hidden;
  z-index: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.media-cover__info-container {
  position: relative;
  color: #fff;
  text-align: left;
  width: 90%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;

  align-items: end;
  z-index: 2;
}

@media screen and (min-width: 1024px) {
  .media-cover__info-content {
    display: block;
    padding-top: 20px;
    height: auto;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 360px) {
  .media-cover__info-content {
    height: calc(3.012vw + 509.16px);
    padding-bottom: calc(1.81vw + 23.49px);
  }
}

.media-cover__info-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: var(--mediaCoverHeight360);
  box-sizing: border-box;
  max-height: unset;
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .media-cover__header {
    font-size: calc(var(--mediaCoverHeader1024));
    max-height: calc(
      var(--mediaCoverHeader1024) * var(--mediaCoverHeaderHeight) *
        var(--mediaCoverHeaderLines)
    );
  }
}

.media-cover__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: calc(var(--mediaCoverHeader360));
  font-weight: 700;
  margin-bottom: 12px;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .media-cover__header-text {
    margin: 24px 0;
    font-size: 38px;
  }
}

.media-cover__header-text {
  display: inline;
  font-size: 38px;
  margin: 16px 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.media-cover__title-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.media-cover__title-info {
  // display: -ms-flexbox;
  display: flex;
  // -ms-flex-align: center;
  align-items: center;
}

.media-cover__title-info-descriptors {
  color: #888;
  font-size: 12px;
  text-transform: capitalize;
  display: inline-block;
  margin: 0 4px;
  font-weight: 400;
}

@media screen and (min-width: 780px) {
  .custom-description {
    font-size: 14px;
  }
}

.custom-description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 60px;
}
.custom-description .content-rating {
  margin: 0 !important;
}
.content-rating--rate-16 {
  background: #ec1d25;
}

.custom-description__item {
  display: inline;
  margin-right: 12px;
  color: #aaa;
}

.content-rating {
  display: block;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff !important;
  color: #fff;
  border-radius: 3px;
  font-family: Open Sans Condensed Bold, sans-serif !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  text-align: center !important;
  line-height: 22px !important;
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
}

.content-rating {
  margin-right: 8px !important;
}

.content-rating__description {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.genres .genres__item-link,
.genres .genres__item-text {
  margin-right: 8px;
  color: #aaa;
}

a {
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .media-cover__keep-watching-content {
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .media-cover__text-wrapper {
    margin-bottom: 0;
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .media-cover__text-wrapper {
    margin-bottom: 0;
    width: 70%;
  }
}

.media-cover__text-wrapper {
  max-height: unset;
}

@media screen and (min-width: 768px) {
  .title-plan {
    padding-top: 32px;
    line-height: 20px;
  }
}
.title-plan {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 24px;
  color: #888;
  line-height: 15px;
}
@media screen and (min-width: 768px) {
  .title-plan__lock-icon {
    margin-right: 12px;
  }
}

.title-plan__lock-icon {
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-right: 8px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .title-plan__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .media-cover__buttons-container {
    width: auto;
  }
}

@media screen and (min-width: 360px) {
  .media-cover__buttons-container {
    flex-direction: row;
  }
}

.media-cover__buttons-container {
  display: -ms-flexbox;
  display: flex;
  // -ms-flex-direction: column;
  // flex-direction: column;
  // width: 100%;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 16px;
}

@media screen and (min-width: 480px) {
  .media-cover__buttons-container > :first-child {
    width: 243px;
  }
}
.media-cover__buttons-container > :not(:first-child) {
  @media (min-width: 480px) {
    margin: 0 0 0 16px;
  }
}

.gplay-button {
  border-radius: 8px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  font-weight: 700;
  text-decoration: none;
  padding: 0 24px;
  height: 48px;
  position: relative;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.gplay-button--sales {
  background-color: transparent;
  color: #fff;
  position: relative;
  z-index: 1;
  transition: 0.2s ease-in-out;
}

.gplay-button--focus-light:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.gplay-button--icon-only {
  width: 48px;
  padding: 0;
}

.gplay-button--secondary {
  background: hsla(0, 0%, 100%, 0.15);
  color: #fff;
  fill: #fff;
}

.media-cover__button {
  width: 100%;
}

.gplay-button--sales:after {
  content: "";
  position: absolute;
  background: linear-gradient(102.25deg, #fb0234 40.65%, #ff8f01 88.29%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  opacity: 1;
  z-index: 0;
  transition: opacity 0.2s ease-in-out;
}

.gplay-button--sales span,
.gplay-button--sales svg {
  z-index: 1;
}

//

.tab-list {
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-bottom: 1px solid #454545;
  padding: 5px 0 2px 2px;
  margin: 2px 5%;
  gap: 18px;
  @media screen and (min-width: 1024px) {
    height: 76px;
  }
}

.gplay-tab--active {
  border-bottom: 2px solid #ccc;
  margin-bottom: -2px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .gplay-tab {
    font-size: 22px;
  }
}
.gplay-tab {
  position: relative;
  display: inline-block;
  padding: 18px 6px;
  font-size: 18px;
  color: #666;
  text-decoration: none;
}

//

.tab-content {
  position: relative;
  padding-top: 32px;
}

.title-details-offer__container {
  margin: 0 0 50px;
}

@media screen and (min-width: 768px) {
  .title-details-offer__title {
    margin: 0 0 28px;
  }
}
.title-details-offer__title {
  margin: 0 0 24px;
  font-size: 24px;
  font-weight: 700;
  font-family: Open Sans, sans-serif;
  color: #fff;
  padding: 0 5%;
}

@media screen and (min-width: 768px) {
  .title-details-offer {
    // -ms-grid-columns: (1fr) {2};
    grid-template-columns: repeat(2, 1fr);
  }
}
.title-details-offer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  // grid-template-columns: 1fr;
  padding: 0 5%;
}

@media screen and (min-width: 764px) {
  .title-details-offer-item {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.title-details-offer-item {
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  color: #ccc;
  // margin-bottom: 0;
}

.title-details-offer-item--field {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .title-details-offer__additional-info {
    -ms-grid-row: span 3;
    grid-row: span 3;
  }
}

.genres .genres__item-link {
  text-decoration: none;
}

.genres .genres__item-link,
.genres .genres__item-text {
  margin-right: 8px;
  color: #aaa;
}

//

@media screen and (min-width: 768px) {
  .title-details-offer__content-rating {
    -ms-flex-align: unset;
    align-items: unset;
    margin: 0 0 24px;
  }
}

.title-details-offer__content-rating {
  display: -ms-flexbox;
  display: flex;
  margin: 12px 0;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .title-details-offer__content-rating__field {
    margin-right: 8px;
    font-size: 16px;
  }
}

.title-details-offer__content-rating__field {
  font-weight: 700;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  color: #ccc;
  margin-bottom: 0;
  margin-right: 2px;
}

@media screen and (min-width: 768px) {
  .title-details-offer__content-rating__criteria {
    font-size: 16px;
  }
}
.title-details-offer__content-rating__criteria {
  margin: 0 0 0 8px;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  color: #888;
  text-transform: capitalize;
}

.title-details-offer__synopsis-title {
  // margin: 0 0 8px;
  // font-size: 16px;
  font-weight: 700;
  font-family: Open Sans, sans-serif;
  color: #ccc;
}

@media screen and (min-width: 768px) {
  .title-details-offer__synopsis-description {
    font-size: 16px;
    width: 35vw;
    margin-bottom: 32px;
    line-height: 24px;
  }
}
.title-details-offer__synopsis-description {
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  color: #ccc;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .title-details-offer__datasheet,
  .title-details-offer__synopsis-description {
    padding-right: 8em;
  }
}
